.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: purple
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


#chat {
  margin-top: 20px;
  height: 400px;
  overflow: auto;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  box-shadow: 2px 2px 2px gray, -2px -2px 2px gray;
  border-radius: 10px;
  padding: 10px;
}

.box {
  padding: 10px;
}

button .submit {
  background-color: #2196f3;
  text-align: center;
  border-radius: 5px;
}